#links {
    padding-top: 50px;
    text-align: center;
}
#links > a {
    padding-left: 50px;
    position:relative;
}
#background {
    background: cadetblue;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

#p-about-me {
    position: relative;
    padding-top: 100px;
    text-align: center;
}
#p-about-me > a {
    padding-left: 0px;
    margin:auto;
}